.MessageContainer {
  display: flex;
  flex-direction: column;

  max-height: 70vh;
  border-radius: 10px;

  overflow-y: auto;
}

.Message {
  display: flex;
  flex-direction: column;
  max-width: 45em;

  padding: 0.9em 1.2em;
  margin: 8px 4px;
  border-radius: 5px;

  box-shadow: rgb(185, 185, 185) 2px 2px 5px;
}

.Message.Mine {
  background-color: rgb(228, 228, 228);
  margin-left: auto;
}

.Message.NotMine {
  background-color: rgb(194, 194, 194);
  margin-right: auto;
}

.MessageDateTime {
  margin-top: 0.8em;
  font-size: small;
  font-weight: bold;
  text-align: end;

  color: rgb(77, 84, 128);
}

.Message.NotMine .MessageDateTime {
  text-align: start;
}
