.Navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;

  padding: 20px 20px;
}

.Navbar-Title {
  font-weight: bold;
  font-size: x-large;
  color: rgb(42, 49, 89);

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Navbar-Links {
  display: flex;
  column-gap: 1em;
}
