.Button {
  border: none;
  background-color: rgb(42, 49, 89);
  color: white;
  border-radius: 3px;

  font-weight: normal;
  font-size: large;

  display: block;
  margin: 0px auto;
  padding: 5px 10px;

  cursor: pointer;
}

.Input,
.TextArea {
  background-color: rgb(215, 215, 215);
  color: rgb(55, 62, 98);
  border: none;
  outline: none;
  border-radius: 3px;

  font-size: medium;
  font-weight: bold;

  padding: 5px 10px;
}

.TextArea {
  font-weight: normal;
  padding: 10px 10px;
  resize: vertical;
}

.Title {
  text-align: center;
  color: rgb(42, 49, 89);
  font-weight: bold;
  font-size: x-large;
}

.SectionTitle {
  text-align: left;
  color: rgb(42, 49, 89);
  font-weight: 400;
  font-size: x-large;
}

.Text {
  color: rgb(42, 49, 89);
  font-size: large;
}

.NavLink {
  color: rgb(42, 49, 89);
  text-decoration: none;
  list-style: none;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  font-size: large;
  font-weight: 500;
}

.Link {
  text-decoration: none;
  list-style: none;
  color: rgb(42, 49, 89);
  cursor: pointer;
}

.NavLink.active {
  color: rgb(25, 30, 62);
  font-weight: bolder;
}
